*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font: 1em/1.5 "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f3f2f1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #f3f2f1;
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block; }

figure {
  margin: 1em 40px; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

a {
  text-decoration: none; }

form {
  font-size: 1.5rem; }

select {
  background: rgba(251, 186, 122, 0);
  border: none;
  color: #fff;
  font-size: 1.25rem; }

option {
  background-color: #fbb875;
  color: #fff; }

label {
  display: block;
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 3rem;
  margin: 0.67em 0; }

h2 {
  font-size: 2.5rem; }

h1,
h2,
h3,
h4 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 0 0 0; }

.white-word {
  color: #fff; }

.center-title {
  text-align: center; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

q {
  font-style: italic; }

p {
  font-size: 1.25rem; }

table,
th,
td {
  padding: 0;
  margin: 0; }

th {
  color: #fff; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
fieldset,
hr {
  margin: 0 0 1.5rem; }

.btn {
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  padding: 1rem 3rem; }

.btn--principal {
  background-color: #1b98ca;
  font-family: "Montserrat", sans-serif; }
  .btn--principal:hover {
    background-color: #2d67b1; }

.btn--principal__intro {
  border: 4px solid #2d67b1;
  border-radius: 50%;
  font-size: 2.25rem;
  margin: 3rem 0 7.5rem 0;
  padding: 3.8rem 3rem; }

.btn--secundary {
  background-color: #a5a5a5; }
  .btn--secundary:hover {
    background-color: #d0cece; }

.btn--small {
  padding: .6rem; }

.btn--invert {
  background-color: #fff;
  border: 2px solid #fff;
  color: #a5a5a5; }
  .btn--invert:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
    color: #fff; }

.check {
  margin-top: 2%;
  text-align: center; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after, .wrapper:after {
    clear: both; }

.intro {
  background-image: url("../img/Adventure-Time-Background.jpg");
  background-size: cover;
  margin-bottom: 3rem;
  text-align: center;
  max-width: 1200px; }

.logo {
  width: 250px;
  padding: 1.5rem;
  float: left; }

.btn-instructions {
  cursor: pointer;
  padding: 1.5rem;
  float: right;
  width: 130px; }

.table {
  width: 800px;
  margin: 0 auto; }
  .table:before, .table:after {
    content: " ";
    display: table; }
  .table:after, .table:after {
    clear: both; }

.table-game {
  margin: 0 auto;
  width: 60%;
  padding: 0 0 0 7.5rem; }

.empy-pattern {
  width: 50px; }

.empy-check {
  width: 20px;
  padding: 2px; }

.color-options {
  border-top: 2px solid #000;
  padding-top: 3rem; }

.opacity {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 11; }

.modal-instructions {
  display: none;
  height: 100%;
  left: 50%;
  position: fixed;
  overflow: auto;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 12; }

.instructions {
  background-color: #FFF;
  border: 3px solid #2d67b1;
  margin-top: 40%;
  padding: 10%;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
