@import "partials/variables";
@import "partials/mixins";
@import "partials/elements/base";
@import "partials/elements/forms";
@import "partials/elements/headings";
@import "partials/elements/type";
@import "partials/elements/table";
@import "partials/elements/media";
@import "partials/elements/images";
@import "partials/elements/single-direction-margin";
@import "partials/patterns/buttons";
@import "partials/layout/page";
@import "partials/modules/intro";
@import "partials/modules/header";
@import "partials/modules/game";
@import "partials/modules/instructions";
@import "partials/modules/colors";
@import "partials/patterns/helpers";




