form {
	font-size: 1.5rem;
}

select{
	background: rgba(251,186,122,0);
	border: none;
    color:#fff;
	font-size: 1.25rem;
}

option {
	background-color: #fbb875;
	color: #fff;
}

label {
  display: block;
  font-family: $font-family-contrast;
}