// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  font-size: 3rem;
  margin: 0.67em 0;
}

h1, 
h2, 
h3,
h4 {
  color: #000;
  font-family: $font-family-contrast;
  padding: $space-base 0 0 0;
}

h2 {
  font-size: 2.5rem;
}

.white-word {
	color: #fff;
}

.center-title {
	text-align: center;
}