.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    padding: 1rem 3rem;

}

.btn--principal {
    background-color: $blue-light;
    font-family: $font-family-contrast;

    a:hover {
        background-color: $blue;
    }
}

.btn--principal__intro {
    border: 4px solid $blue;
    border-radius: 50%;
    font-size: 2.25rem;
    margin: $space-medium 0 $space-x-large 0;
    padding: 3.8rem 3rem;
}


.btn--secundary {
    background-color: #a5a5a5;

    &:hover {
        background-color: #d0cece;
    }
}

.btn--small {
    padding: .6rem;
}

.btn--invert {
    background-color: #fff;
    border: 2px solid #fff;
    color: #a5a5a5;

    &:hover {
        background-color: rgba(255, 255, 255, .3);
        border: 2px solid #fff;
        color: #fff;
    }
}

.check {
    margin-top: 2%;
    text-align: center;
}
