$font-family-base: 'Roboto', sans-serif;;
$font-family-contrast: 'Montserrat', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;

// colors
$blue-light: #1b98ca;
$blue: #2d67b1;


// spaces
$space-base: 1.5rem;
$space-small: 1.5rem;
$space-medium: 3rem;
$space-large: 6rem;
$space-x-large: 7.5rem;

