.table {
	@include micro-clearfix;
	width: 800px;
	margin: 0 auto;
}

.table-game {
	margin: 0 auto 30px auto;
	width: 32%;
	padding: 0;
}

.color-options {

}

.empty-pattern {
		width: 50px;
}

.empty-check {
		width: 20px;
		padding: 2px;
}

.color-options {
	border-top: 2px solid #000;	
	padding-top: $space-medium;	
}

.clue {
	display: block;
}