.opacity {
  background: rgba(0,0,0,.7); 
  display:none;
  height: 100%;
  position: fixed;
  width: 100%; 
  z-index: 11; 
}

.modal {
  display:none;
  height: 100%;
  left: 50%;      
  position: fixed;
  overflow: auto;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);      
  z-index: 12;
}

.moda-dimention {
  background-size: cover;
	border: 3px solid #fff;
  color: #fff;
	margin-top: 20%;	
	width: 100%;

      h2 {
        width: 400px;
        color: #fff;
      }
}

.modal-bgi-instructions {
  background-image: url("../img/instructions_bgi.png");
  padding: 10%;

}

.modal-bgi-win {
  background-image: url("../img/win.jpg");
  padding: 25%;
}

.modal-bgi-lose {
  background-image: url("../img/lose.jpg");
  padding: 25%;
}
